/* .left {
    float: left;
    margin-right: 1em;
  }
  
  .right {
    float: right;
    margin-left: 1em;
  }
  
  
  article {
    background-color: white;
    color:black;
    padding: 1em;
    width: 70%;
    margin: 0 auto;
    border: 5px solid #E18728;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    font-family: sans-serif;
  }
  
  figure {
    text-align: center;
    text-transform: uppercase;
    padding: .2em;
    margin: 0;
  }
  
  figure img {
    max-width: 100%;
  }
  

  // media queries 
  @media all and (max-width: 900px) {
    article {
      width: 60%;
    }
  }
  
  @media all and (max-width: 500px) {
    article {
      width:95%;
    }
  } */

  
  /* HERE BEGIN JIC´S CODE */
  body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #122828;
  }

  header{
    color: #ecf0f1;
    align-items: center;
  }

  header h1{
    padding-left: 2rem;
  }
  header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-menu{
    display: flex;
    padding-right: 4rem;
  }

  .main-menu li{
    align-items: center;
    padding: 0.3rem 2rem 0.3rem 2rem;
    margin: 0.5rem;
    list-style: none;
    background-color: rgba(47, 137, 137, 20%);
    border-radius: 5px;
  }


  /* grid de peliculas */
  .grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows:minmax(200px, 200px);
    column-gap: 0.5em;
    row-gap: 1em;
  }
  

  /* grid configuration */
  .grid .cell{
    background-color: #ecf0f1;
    border: none;
    border-radius: 3px;
    display: block; 
    
  }
  
  .cell:hover{
    border: 3px solid #E18728;
    cursor:pointer;
  }
  
  .grid .cell .video {
    height: 90%;
    background-color: rgb(143, 185, 185);
    
  }
  
  .grid .cell .title-video {
    text-align: center;
  }

  .grid .cell .title-video:hover {
    color: rgb(19, 54, 75);
    font-weight: bolder;
    cursor:pointer;
  }
  
  .grid .cell{
    grid-column: 2/3;
  }

  .grid .selected{
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .grid .selected  .title-video{
    font-size: 2rem;
  }